@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inter;
}

:root {
  --primary-color: #387ed1;
  --text-color: #424242;
}

.container {
  width: 1150px;
  max-width: 100%;
  margin: 0 auto; /*making it center*/
}

/*NAV BAR*/

header {
  z-index: 10;
  box-shadow: rgb(238, 238, 238) 2px 1px 2px;
  padding-block: 22px;
  text-align: center;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.nav-logo > img {
  width: 150px;
  cursor: pointer;
}

.navlink-container {
  display: flex;
  gap: 35px;
}
.navlink-list {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.5s ease;
}
.nav-link:hover {
  color: var(--primary-color);
}

/*HERO SECTION*/
.hero-section {
  margin-top: 60px;
}
.hero-image {
  width: 70%;
  height: 45vh;
  margin-bottom: 60px;
}
.hero-heading {
  color: var(--text-color);
  font-size: 44px;
  font-weight: 600;
  word-spacing: 4px;
  margin-bottom: 15px;
}

.hero-subheading {
  font-size: 20px;
  margin-bottom: 30px;
}

.button {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
}
.button:hover {
  background-color: #2e2e2e;
}
